.rtlContent {
    line-height: 2rem;
}

.vazir {
    font-family: 'vazir', 'San Francisco Text', 'ubuntu', sans-serif;
}

.shabnam {
    font-family: 'shabnam', 'San Francisco Text', 'ubuntu', sans-serif;
}

.dana {
    font-family: 'dana', 'San Francisco Text', 'ubuntu', sans-serif;
}

.iransans {
    font-family: 'iransans', 'San Francisco Text', 'ubuntu', sans-serif;
}

.iranyekan {
    font-family: 'iranyekan', 'San Francisco Text', 'ubuntu', sans-serif;
}

.harmattan {
    font-family: 'Harmattan', 'San Francisco Text', 'ubuntu', sans-serif;
}

.tajawal {
    font-family: 'Tajawal', 'San Francisco Text', 'ubuntu', sans-serif;
}

.rubik {
    font-family: 'Rubik', 'San Francisco Text', 'ubuntu', sans-serif;
}

.codeContent,
code,
.code {
    direction: ltr !important;
    text-align: left;
}